{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %} Hello friend {% endblock meta_title %}

{% block content %}
    <h1 style="text-align: center">Вхід на сайт:</h1>
    <div style="width: 250px; margin: 0 auto;">
        <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
            <i class="fa fa-facebook"></i> Увійти з Facebook
        </a>

        <a class="btn btn-block btn-social btn-vk" href="{% url 'social:begin' 'vk-oauth2' %}">
            <i class="fa fa-vk"></i> Увійти з Vk
        </a>
        <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
            <i class="fa fa-google"></i> Увійти з Google
        </a>
    </div>
{% endblock content %}