{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <title>{% block meta_title %}{% endblock meta_title %}</title>
    <!-- Modal Boilerplate -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
                </div>
                <div class="modal-body"><!-- --></div>
                <div class="modal-footer"><!-- --></div>
            </div>
        </div>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="/static/main.css">

    {% block extra_css %} {% endblock extra_css %}
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TODO.me <sup style="color: #a1c133">[alpha]</sup></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Мої завдання</a></li>
                    <li><a href="/">Створені мною</a></li>
                    <li><a href="#">Підписки</a></li>
                    <li><a href="#">Статистика</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user and not user.is_anonymous %}
                        <li class="dropdown">
                            <a href="#" style="font-weight: 700"  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.get_full_name|default:user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/">Мої завдання</a></li>
                                <li><hr style="margin: 5px 0"></li>
                                <li><a href="#">Налаштування</a></li>
                                <li><hr style="margin: 5px 0"></li>
                                <li><a href="{% url 'auth:logout' %}?next=/">Вийти</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Start Container -->
<div class="container">
<!--
    <div class="row" id="adsense_header">
        <div class="col-xs-12">
            <div id="adsense_container" style="position: relative; top: 60px">
                <div id="adsense_example" style="background: #eee; width: 728px; height: 90px; margin: 0 auto">
                    <div style="text-align: center; font-size: 20px">
                        Тут може бути ваша реклама
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- Start Content Columns -->
    <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">
            <div style=" position: relative; top: 80px">
            {% if request.GET.status_message %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ request.GET.status_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            {% endif %}
            {% block content %}{% endblock content %}
            </div>
        </div>

    </div>
    <!-- End Content Columns -->

    <!-- Start Footer -->
    <div class="row" id="footer">
        <footer class="col-xs-12">
             <a class="btn btn-default" href="#">
            <i class="fa fa-linkedin-square fa-lg"></i> Григорій Мазур
            </a>
            <a class="btn btn-default" href="#">
            <i class="fa fa-github-square fa-lg"></i> Проект на GitHub
            </a>
        </footer>
    </div>
    <!-- End Footer -->

</div>
<!-- End Container -->
<!-- Javascripts Inclusion -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
{% block extra_javascript %} {% endblock extra_javascript %}
</body>

</html>
