{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <title>{% block meta_title %}{% endblock meta_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"
          href="/static/main.css">

    {% block extra_css %} {% endblock extra_css %}
</head>
<body>
<!-- Start Container -->
<div class="container">

    <!-- Start Header -->
    <div class="row" id="header">
        <div class="col-xs-12">
            <h1 style="text-align: center">
                <a href="/">Сервіс завдань і <strike>виписування піздюлей</strike> мотивації</a></h1>
            <hr>
        </div>
    </div>
    <!-- End Header -->

    <!-- Start Content Columns -->
    <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">
            {% if request.GET.status_message %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    {{ request.GET.status_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <script>
                    setTimeout((function(){$('.alert').stop().slideUp(500);}), 3000);
                </script>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>

    </div>
    <!-- End Content Columns -->

    <!-- Start Footer -->
    <div class="row" id="footer">
        <div class="col-xs-12">
            &copy; 2015 Завжди ваш сервіс <strike>піздюлей</strike> мотивації Азазаззаза
        </div>
    </div>
    <!-- End Footer -->

</div>
<!-- End Container -->
<!-- Javascripts Inclusion -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
{% block extra_javascript %} {% endblock extra_javascript %}
</body>

</html>
