{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8"/>
	  <title>{% block meta_title %}{% endblock meta_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet"
          href="/static/main.css">
      {% block extra_css %} {% endblock extra_css %}
  </head>
  <body>
    <!-- Start Container -->
    <div class="container">

      <!-- Start Header -->
      <div class="row" id="header">
        <div class="col-xs-12">
          <h1>Сервіс відслідкувування завдань і виписуваня піздюлей(мотивації)</h1>
        </div>
      </div>
      <!-- End Header -->

      <!-- Start Content Columns -->
      <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">
        {% block content %}        {% endblock content %}
        </div>

      </div>
      <!-- End Content Columns -->

      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          &copy; 2015 Завжди ваш сервіс піздюлей Азазаззаза
        </div>
      </div>
      <!-- End Footer -->

    </div>
    <!-- End Container -->
    <!-- Javascripts Inclusion -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block extra_javascript %} {% endblock extra_javascript %}
  </body>

</html>
