{% extends "base.html" %}
{% load static from staticfiles %}


{% block meta_title %} TaskKiller {% endblock meta_title %}

{% block content %}
          <!--
          TODO: Придумати як додати сповіщення
          <div class="alert alert-warning" role="alert">Завдання додане успішно</div>
          -->

          <h2>Список завдань</h2>
          <a href="{% url "task_add" %}" class="btn btn-primary">Додати завдання</a>

          <!-- Start Students Listing -->
          <table class="table">
            <thead>
              <tr>
                <th><a href="#">#</a></th>
                <th>Колір</th>
                <th><a href="#">Назва завдання &uarr;</a></th>
                <th><a href="#">Замовник</a></th>
                <th><a href="#">Статус</a></th>
                <th><a href="#">Дата початку</a></th>
                <th><a href="#">Дата закінчення</a></th>
                <th><a href="#">Часу залишилось</a></th>
                <th>Дії</th>
              </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>тут має бути колір</td>
                <td><a href="#">{{ task.name }}</a></td>
                <td><a href="#">{{ task.customer }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.date_start }}</td>
                <td>{{ task.date_end }}</td>
                <td>{{ task.estimated_time }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url "task_edit" task.id %}">Редагувати</a></li>
                      <li><a href="#">Змінити статус</a></li>
                      <li><a href="{% url "task_delete" task.id %}">Видалити</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- End Students Listing -->
          <nav>
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </nav>
{% endblock content %}