{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %} TaskKiller {% endblock meta_title %}

{% block content %}


    <div class="col-xs-12" id="content-header">
        <div class="page-header">
            <h2 class="form_header">Деталі завдання</h2>
        </div>
    </div>
    <div class="form">
        <p>Назва: {{ task.name }}</p>

        <p>Замовник: {{ task.customer }}</p>

        <p>Дата початку: {{ task.date_start | date }}</p>

        <p>Дата закінчення: {{ task.date_end }}</p>

        <p>Статус: {{ task.status }}</p>

        <div>{% if task.picture %}
            <img src="{{ task.picture.url }}" height="300"
                 width="300"/>
        {% else %}
            <img class="img-circle" src="{% static "img/default_user.png" %}"
                 height="30" width="30"/>
        {% endif %}</div>
        <h3>Опис: </h3>

        <div>{{ task.html_description | safe }}</div>
    </div>


{% endblock content %}