{% extends "base.html" %}
{% load static from staticfiles %}


{% block meta_title %} Add Task {% endblock meta_title %}

{% block content %}
    <h2>Список завдань</h2>
    <a href="{% url "task_add" %}" class="btn btn-primary">Додати завдання</a>

    <!-- Start Students Listing -->
    <table class="table">
        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
            <thead>
            <tr>
                <th><a href="#">#</a></th>
                <!-- TODO: Додати колір в базу,(1,2,3)-(Red,Yellow,Blue)
                     TODO: Оживити колонку додати сортування
                -->
                <th>Колір</th>
                <th>
                    <a href="{% url "home" %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Назва
                        {% if order_by == 'name' and reverse != '1' %}&uarr;
                            {% elif order_by == 'name' and reverse == '1' %}&darr;
                        {% endif %}</a>
                </th>
                <th>
                    <a href="{% url "home" %}?order_by=customer{% if order_by == 'customer' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Замовник
                        {% if order_by == 'customer' and reverse != '1' %}&uarr;
                            {% elif order_by == 'customer' and reverse == '1' %}&darr;
                        {% endif %}</a>
                </th>
                <th><a href="#">Статус</a></th>
                <th><a href="#">Дата початку</a></th>
                <th>
                    <a href="{% url "home" %}?order_by=date_end{% if order_by == 'date_end' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Дата закінчення
                        {% if order_by == 'date_end' and reverse != '1' %}&uarr;
                            {% elif order_by == 'date_end' and reverse == '1' %}&darr;
                        {% endif %}</a>
                </th>
                <th><a href="#">Часу залишилось</a></th>
                <th>Дії</th>
            </tr>
            </thead>
        {% endwith %}
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if task.picture %}
                        <img class="img-circle" src="{{ task.picture.url }}" height="30" width="30"/>
                    {% else %}
                        <img class="img-circle" src="{% static "img/default_user.png" %}" height="30" width="30"/>
                    {% endif %}
                </td>
                <td><a href="#">{{ task.name }}</a></td>
                <td><a href="#">{{ task.customer }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.date_start  | date:"Y-m-d" }}</td>
                <td class="end">{{ task.date_end | date:"Y-m-d" }}</td>
                <td class="elapsed"></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">Дія
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "task_edit" task.id %}">Редагувати</a></li>
                            <li><a href="#">Змінити статус</a></li>
                            <li><a href="{% url "task_delete" task.id %}">Видалити</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- End Students Listing -->
    {% if tasks.has_other_pages %}
        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="{% url "home" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
                    </li>
                    {% for p in tasks.paginator.page_range %}
                        <li {% if tasks.number == p %}class="active"{% endif %}><a
                                href="{% url "home" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url "home" %}?page={{ tasks.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        {% endwith %}
    {% endif %}
{% endblock content %}