<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8"/>
	  <title>TaskKiller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet"
          href="/static/main.css">
  </head>
  <body>
    <!-- Start Container -->
    <div class="container">

      <!-- Start Header -->
      <div class="row" id="header">
        <div class="col-xs-12">
          <h1>Сервіс відслідкувування завдань і виписуваня піздюлей(мотивації)</h1>
        </div>
      </div>
      <!-- End Header -->

      <!-- Start Content Columns -->
      <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">

          <div class="alert alert-warning" role="alert">Завдання додане успішно</div>

          <h2>Список завдань</h2>
          <a href="#" class="btn btn-primary">Додати завдання</a>

          <!-- Start Students Listing -->
          <table class="table">
            <thead>
              <tr>
                <th><a href="#">#</a></th>
                <th>Колір</th>
                <th><a href="#">Назва завдання &uarr;</a></th>
                <th><a href="#">Замовник</a></th>
                <th><a href="#">Статус</a></th>
                <th><a href="#">Дата початку</a></th>
                <th><a href="#">Дата закінчення</a></th>
                <th><a href="#">Часу залишилось</a></th>
                <th>Дії</th>
              </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>тут має бути колір</td>
                <td><a href="#">{{ task.name }}</a></td>
                <td><a href="#">{{ task.customer }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.date_start }}</td>
                <td>{{ task.date_end }}</td>
                <td>{{ task.estimated_time }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url "task_edit" task.id %}">Редагувати</a></li>
                      <li><a href="#">Змінити статус</a></li>
                      <li><a href="{% url "task_delete" task.id %}">Видалити</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- End Students Listing -->
          <nav>
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- End Content Columns -->

      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          &copy; 2015 Завжди ваш сервіс піздюлей Азазаззаза
        </div>
      </div>
      <!-- End Footer -->

    </div>
    <!-- End Container -->
    <!-- Javascripts Inclusion -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>

</html>
