#header {
    margin-bottom: 40px;
    font-family: Georgia;
}

#footer {
    text-align: center;
}

nav {
    text-align: center;
}
.punished {
    color : red;
}
.reward {
    color :green;
}
#submit-id-send_button {
    position: relative;
    left: 200px;
}
.form_header {
    text-align: center;
}
